apiVersion: apps/v1
kind: Deployment
metadata:
  name: health-api-deployment
  namespace: health-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: health-api
  template:
    metadata:
      labels:
        app: health-api
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: health-api
          image: ritujaee/health-api-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
